{% load static %}


<div class="navbar navbar-expand-md navbar-light bg-light">
        <button class="navbar-toggler navbar-toggler-right" type="button" data-toggle="collapse" data-target="#navbarCollapse" aria-controls="navbarCollapse" aria-expanded="false" aria-label="Toggle navigation">
          <span class="navbar-toggler-icon"></span>
        </button>
        <a class="navbar-brand" href="{% url 'index'  %}">
    <img src="{% static 'img/logo.png' %}" width="30" height="30" class="d-inline-block align-top" alt="" loading="lazy">
    RuTAG IIT Delhi
  </a>
        
        <div class="collapse navbar-collapse" id="navbarCollapse">
          <ul class="navbar-nav ml-auto">

          <li class="nav-item active">
            <a class="nav-link" href="{% url 'contact'  %}">Contact us</a>
          </li>

          <li class="nav-item active">
            <a class="nav-link" href="{% url 'about'  %}">About Us</a>
          </li>

<li class="nav-item dropdown">
        <a class="nav-link dropdown-toggle" href="#" id="navbarDropdownMenuLink-3" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
          Collaborators
        </a>
  <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
    <a class="dropdown-item" href="{% url 'organizationsngo' %}">NGO</a>
    <a class="dropdown-item" href="{% url 'organizationsgo' %}">Government Organizations</a>
    <a class="dropdown-item" href="{% url 'organizationsother' %}">Colleges</a>
  </div>
</li>

          <li class="nav-item active">
            <a class="nav-link" href="{% url 'Publications'  %}">Publications</a>
          </li>

          <li class="nav-item active">
            <a class="nav-link" href="{% url 'article:articles'  %}">Articles</a>
          </li>

          <li class="nav-item active">
            <a class="nav-link" href="{% url 'newsletters'  %}">NewsLetters</a>
          </li>

          <li class="nav-item active">
            <a class="nav-link" href="{% url 'projects:projects'  %}">Projects</a>
          </li>

          <li class="nav-item active">
            <a class="nav-link" href="{% url 'products:products'  %}">Innovative Product Delivery</a>
          </li>
<li class="nav-item dropdown">
        <a class="nav-link dropdown-toggle" href="#" id="navbarDropdownMenuLink" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
          Events
        </a>
  <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
    <a class="dropdown-item" href="{% url 'events:cgm' %}">Core Group Meeting</a>
    <a class="dropdown-item" href="{% url 'events:spm' %}">Staff & PI Meeting</a>
    <a class="dropdown-item" href="{% url 'events:workshop' %}">Workshops</a>
    <a class="dropdown-item" href="{% url 'events:other' %}">Other Events</a>
  </div>

</li>

<li class="nav-item dropdown">
        <a class="nav-link dropdown-toggle" href="#" id="navbarDropdownMenuLink-2" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
          Team
        </a>
  <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
    <a class="dropdown-item" href="{% url 'members:core' %}">RuTAG</a>
    <a class="dropdown-item" href="{% url 'members:club' %}">RuTAG Club</a>
  </div>

</li>
          {% if request.user.is_authenticated %}
          <li class="nav-item active">
            <a class="nav-link" href="{% url 'article:dashboard'  %}">Control panel</a>
          </li>

          <li class="nav-item active">
            <a class="nav-link" href="{% url 'user:logout'  %}">Sign Out</a>
          </li>
          {% else %}

          <li class="nav-item active">
            <a class="nav-link" href="{% url 'user:login'  %}">Login</a>
          </li>

          <li class="nav-item active">
            <a class="nav-link" href="{% url 'user:register'  %}">Register</a>
          </li>
          {% endif %}
          </ul>
        </div>
    
    
</div>