{% extends "layout.html" %}
{% load static %}
{% block body %}

<script src="{% static '/assets/css/font-awesome.min.css' %}"></script>


<div class="row">

    <!-- Article main content -->
    <article class="col-sm-8 maincontent">
        <header class="page-header">
            <h1 class="page-title">About us</h1>
        </header>
        {% if writeup %}
        {% for material in writeup %}
            <h3>{{material.question}}</h3>
        <p align="justify">{{material.answer|safe}}</p>
        {% endfor %}
        {% endif %}
        <!--
        <h3>Why RuTAG? </h3>
        <p align="justify">Although a lot of technologies developed by the rural people in India and elsewhere in the World may be
            available but often the problem is in taking them to other users or downsizing them, if necessary. Normally
            any technology is introduced to benefit from the “economy of scale.” But by downsizing a technology for the
            rural use one loses the economy of scale. However, one generates the local employments by using the locally
            available raw materials which need not be transported to far-off places, as required in the economy of
            scale. At this moment, not many serious efforts are noticeable towards the concept of local employment
            generation through technology, which may be referred here as “rural industrialization.” However, if the
            experts from modern industries and R&D institutions take interests to help the process of rural
            industrialization, it can change the face of not only rural India but also of other countries.</p>
        <p align="justify">Various Science and Technology (S&T)-oriented voluntary agencies, Non-governmental Organizations (NGOs),
            Governmental agencies, district-level administration, and few others have been successful in disseminating
            some rural technologies. These agencies have also achieved significant success in assessing the technology
            needs of a region and determined and implemented the technology solutions. It is possible to refine these
            technologies further and spread their reach using the S&T platforms that India has built over the years
            since independence. The challenge is to establish synergy among all these efforts, which are often
            fragmented and needlessly duplicated.</p>
        <p align="justify">The scientists in the R&D institutions, the university system and the mission-oriented agencies have their
            own work. They do spend times for the betterment of rural masses. However, most of them are not suited for
            implementations mainly due to lack of appropriate perspectives to the problems faced by the grass root
            people. Hence, the role of Rural Technology Action Group (RuTAG) becomes important who tries to define the
            problems clearly and seeks for solutions through Governmental, S&T NGOs, academic institutes (university
            system), other voluntary agencies and even corporate sectors.</p>

        <h3>The Concept</h3>
        <p align="justify">Though many entities such as Central and State governmental agencies, S&T NGOs, voluntary agencies, Public
            Service Units (PSUs), Corporate Industrial Houses in Private Sector and other agencies are engaged in
            development and dissemination of technologies for rural development, the spread of rural technology has been
            diffused, uneven, and slow. Its full potential for generating a rapid multiplier effect in rural economy has
            remained unrealized. The main constraint preventing advances in technologies for rural application from
            reaching most villages in India in full measure seems to be the lack of local technology action groups who
            can assist in upgrading the technology needs. These groups must assess the status of different rural
            occupation groups, i.e., farmers, rural artisans, and the landless, before adding value to their products
            and services. Rural technology support is critical for realizing the vast potential of the rural farm and
            non-farm sectors. Keeping the above aspects in view, the Office of Principal Scientific Advisor (PSA) to the
            Government of India conceptualised a mission called Rural Technology Action Group (RuTAG). The RuTAG was
            conceived as a mechanism to provide a higher level of S&T intervention and support. This intervention, which
            is essentially demand-driven, could be for technology up-gradation, hi-tech delivery, technology training
            and demonstration or through any other innovative method. Specific training programmes are also sponsored by
            RuTAG.</p>
        <p align="justify">The entities which are to be brought together by RuTAG are:</p>
        <li>S&T Institutions, S&T NGOs, and voluntary agencies</li>
        <li>PSUs and Corporate Industrial houses in the private sector committed to rural developments (may be as a part
            of their Corporate Social Responsibilities).
        </li>
        <li>State and Central Government organizations already working for rural development in an area.</li>
        <p align="justify">RuTAG could provide the mechanism and the support needed for this synergy. Thus, RuTAG is a synergizing and
            catalysing mechanism, and not a major funding mechanism.</p>

        <h3>RuTAGs@IITs</h3>
        <p align="justify"> The coordination of RuTAG activities has been primarily assigned to several IITs. The RuTAG IIT Delhi is one
            such entity which was established in January 2009. IIT Delhi has been allocated to coordinate the RuTAG
            activities in the states of Uttar Pradesh, Madhya Pradesh, Chhattisgarh, Rajasthan, Haryana, and Delhi. The
            idea is to identify technology needs of the region, available technology solutions, problems encountered in
            adopting the existing technology at the grassroots, identify R&D institutions which can improve the
            technology, assessment of the existing technology, find out solutions to overcome the technological
            problems, and adapt a rural technology through R&D institutions to suit specific conditions using local
            resources.</p>

        <h3>The Objectives</h3>
        <li>To identify technologies ongoing in the villages or have potential to reach the rural areas.</li>
        <li>To help to provide higher income and employment or reduce drudgery of the people in rural areas.</li>
        <li>If the technologies have some technical problems and pinches to adopt in the target region, could be taken
            up for further adaption or improvement or value addition through the application of S&T by the relevant R&D
            institutions in the country.
        </li>

        <li>The RuTAG IIT Delhi will bring together some of the technical institutions from the abovementioned states
            involved in implementing technological programs at the grassroots.
        </li>

        <h3>The Role</h3>
        <li>Identify technology needs of the region.</li>
        <li>Available technology solutions</li>
        <li>Problems encountered in adopting the existing technology at the grassroots.</li>
        <li>Identify R&D institutions which can improve the technology to suit the local conditions</li>
        <li>Assessment of the existing technology by relevant R&D institutions with reference to the problems
            identified, and find out solution to overcome the technological problem.
        </li>
        <li>Formulation of project proposals for testing the existing technology and undertaking R&D in the existing
            technology.
        </li>
        <li>Improve/upgrade/adapt the existing technology, conducting R&D/
            modifications/re-designing/downsizing/fine-tuning/standardization/scientific validation for adoption of the
            technology by the users at the grassroots.
        </li>
        <li>Conduct demonstration and training on the improved technology to the trainers for large scale adoption of
            the technology by the target groups.
        </li>
        <li>Conduct demonstration and training on the improved technology to the trainers for large scale adoption of
            the technology by the target groups.
        </li>
        <li>Creating awareness of rural problems to the students and faculty of the university system, and offer them
            guidance and financial support to come up with solutions to the grass root problems.
        </li>

        <h3>RutAG is helping towards</h3>
        <li>Addressing defused rural economy through S&T Platform.</li>
        <li>Dissemination of refined technologies reaching to rural areas.</li>
        <li>Technology delivery for non-farm/ agriculture sectors.</li>
        <li>Benefiting rural groups through network of NGOs.</li>
        <li>Adding value to the produce and enhancing quality of rural life.</li>
-->
    </article>
    <!-- /Article -->

    <!-- Sidebar -->
    <aside class="col-sm-4 sidebar sidebar-right">

        <div class="panel">
            <h4>Latest News</h4>
            <ul class="list-unstyled list-spaces">
                <ol type="1">

                {% if news %}
                {% for new in news %}
                <li>{{new.title}}, published in {{new.paper}} on {{new.date}}. For more information, check out the <a href="{{new.url}}">news clipping</a></li>
        {% endfor %}
                {% endif %}

                <!--

    <li> IIT design helps rural women in fabrication of beads, Published in The Hindu on July 8, 2019 at Jaipur. For
        more information [<a href="", style="color: #00ff00"><a href="", style="color: #00ff00">Click here</a></a>]
    </li>

    <li> IIT Delhi Initiative Gives A Push To Rural Women Who Make Tulsi Malas. Published in Vrindavan Today on July 12,
        2019. For more information [<a href="", style="color: #00ff00"><a href="", style="color: #00ff00">Click here</a></a>]
    </li>

    <li> IIT-Delhi challenge hopes to solve rural issues via innovation, Published in The Hindu on 11th Decemmber, 2018.
        For more inofrmation [<a href="", style="color: #00ff00">Click here</a>].
    </li>

    <li> IIT-Delhi’s design competition aims to solve rural problems, Published in The Indian Express on 26th Decemmber,
        2018. For more inofrmation [<a href="", style="color: #00ff00">Click here</a>].
    </li>

    <li> गावं की दिक्कतों के समाधान के लिए परतियोगिता, Published in Hindustan (Hindi) on 11th Decemmber, 2018. For more
        inofrmation <a href="", style="color: #00ff00">Click here</a> [<a href="", style="color: #00ff00">Click here</a>].
    </li>

    <li> ग्रामीण समस्याओं का आई आई टी निकालेगा तकनीकी समाधान, Published in Navodaya Times (Hindi) on 11th Decemmber,
        2018. For more inofrmation [<a href="", style="color: #00ff00">Click here</a>].
    </li>

    <li> IIT-Delhi announces competition seeking solutions to rural problems, Published in Careers 360 on 11th
        Decemmber, 2018. For more inofrmation [<a href="", style="color: #00ff00">Click here</a>].
    </li>

    <li> IIT-Delhi’s Design Competition Aims To Solve Rural Problems, Published in Business World on 13th Decemmber,
        2018. For more inofrmation [<a href="", style="color: #00ff00">Click here</a>].
    </li>

    <li> IIT Delhi announces competition to suggest technical interventions to solve rural problems, Published in
        DigiAnalysys on 12th Decemmber, 2018. For more inofrmation [<a href="", style="color: #00ff00">Click here</a>].
    </li>

    <li> IIT Delhi announces "Rural Innovative Technohunt", Published in EduAdvice on 26th Decemmber, 2018. For more
        inofrmation [<a href="", style="color: #00ff00">Click here</a>].
    </li>
</ol>
<p align="justify"></p>
<p align="justify">
    News from Newspapers
</p>
<ol type="1">
    <li> चूड़ी बनाने वालो के लिए आधुनिक भट्टिया बनाई, Published in Rashtradoot on 5th December, 2017,
        epaper.rashtradoot.com//c/24248686. For more Inofrmation [<a href="", style="color: #00ff00">Click here</a>].
    </li>

    <li> उंच गाँव में अब आधुनिक भट्टियो पर बनेगी हरे रंग की चूड़िया, published in Sunhara Rajasthan, Jaipur on 8-14
        December, 2017. For more inofrmation [<a href="", style="color: #00ff00">Click here</a>].
    </li>

    <li> आधुनिक भट्टियो पर बन रही हैं हरे रंग की चूड़िया, published in Dainik Nafa Nuksan, Jaipur on 7th December, 2017.
        For more inofrmation [<a href="", style="color: #00ff00">Click here</a>].
    </li>

    <li> उंच गाँव में आधुनिक भट्टियो पर बनेगी चूड़िया, published in Amar Ujala, Agara on 5th December, 2017. For more
        inofrmation [<a href="", style="color: #00ff00">Click here</a>].
    </li>

    <li> उंच गाँव में अब आधुनिक भट्टियो पर बनेगी हरे रंग की चूड़िया, published in Dainik Navajyoti on 5th December, 2017.
        For moe information [<a href="", style="color: #00ff00">Click here</a>].
    </li>

    <li> Modified kiln a boon for bangle makers in Rajasthan, published in The Hindu on 12th December, 2017. For more
        information [<a href="", style="color: #00ff00">Click here</a>].
    </li>

    <li> IIT Design Helps Rural Women in Fabrication of Beads [<a href="", style="color: #00ff00">Click here</a>]</li>

    <li> Modified kilns protect potters from toxic fumes, published in The Hindu on 29th January, 2020. For more
        information [<a href="", style="color: #00ff00">Click here</a>].
    </li>

    <li>Mobile Vaani [<a href="", style="color: #00ff00">Click here</a>]</li>
</ol>            </ul>
        </div>

    </aside>
    -->
                    <!-- /Sidebar -->
                </ol>
            </ul>
</div>
    </aside>
</div>    <!-- /container -->

{% endblock body %}