{% extends "layout.html" %}

{% block body %}

<br>

<h5><b>For Technical Advice and Collaboration:</b></h5><br>

{% if contacts %}
{% for contact in contacts %}
<p align="justify">{{contact.name}}, {{contact.position}}<br>
             {{contact.phone}}<br>
             E-mail: <a href="mailto:{{contact.email}}">{{contact.email}}</a>
</p>
{% endfor %}
{% endif %}
<!--
         <p align="justify">
             Prof. S. K. Saha, Coordinator and Principal Investigator (PI) <br>
             Ph. 011-26591135<br>
             E-mail: <a href="mailto:sahaiitd@gmail.com">sahaiitd@gmail.com</a>
         </p>
         <p align="justify">
             Prof. M.R. Ravi, Co-PI  <br>
             Ph. 011-26591059<br>
             E-mail: <a href="mailto:ravimr.1964@gmail.com ">ravimr.1964@gmail.com </a>
         </p>
         <p align="justify">
             Prof. Sangeeta Kohli, Co-PI<br>
             Ph. 011-26591243<br>
             E-mail: <a href="mailto:sangeeta.mrr@gmail.com">sangeeta.mrr@gmail.com</a>
         </p><br>
<h5><b>For General Queries:</b></h5><br>
            <p>
            Mr. Raj Kumar Gupta <br>
            RuTAG-IIT Delhi Office
            Ph. 011-26591385
            E-mail: <a href="mailto:rajkumarddr@gmail.com">rajkumarddr@gmail.com</a>
            </p>

-->
{% endblock body %}
