{% extends "layout.html" %}

{% block body %}
<h3>Control Panel</h3>
<hr>
<p>
    Welcome, <small>{{request.user.username}}</small>
</p>
<hr>
<a class = "btn btn-danger" href = "{% url 'article:addarticle' %}">Add Article </a>
<a class = "btn btn-danger" href = "{% url 'events:addevent' %}">Add Event </a>
<a class = "btn btn-danger" href = "{% url 'projects:addproject' %}">Add Project </a>
<a class = "btn btn-danger" href = "{% url 'products:addproduct' %}">Add Product </a>
<hr>

<div class="jumbotron">
    <h4><b>Your Articles</b></h4>
    {% if article %}
<table class="table">
        <thead>
          <tr>
            <th scope="col">id</th>
            <th scope="col">Title</th>
            <th scope="col">Update</th>
            <th scope="col">Clear</th>
          </tr>
        </thead>
        <tbody>
          {% for article in article %}
          <tr>
            <th scope="row">{{article.id}}</th>
            <td><a href="{% url 'article:detail' article.id %}">{{article.title}}</a></td>
            <td><a href="{% url 'article:update' article.id %}" class = "btn btn-danger">Update</a></td>
            <td><a href="{% url 'article:delete' article.id %}" class = "btn btn-danger">Clear</a> </td>
              
          </tr>
          {% endfor %}
          
        </tbody>
      </table>
{% else %}

<div class = "alert alert-danger">
    You have no articles yet...
</div>

{% endif %}
</div>
<p></p>
<div class="jumbotron">
    <h4><b>Your Events</b></h4>
    {% if events %}
<table class="table">
        <thead>
          <tr>
            <th scope="col">id</th>
            <th scope="col">Title</th>
            <th scope="col">Update</th>
            <th scope="col">Clear</th>
          </tr>
        </thead>
        <tbody>
          {% for event in events %}
          <tr>
            <th scope="row">{{event.id}}</th>
            <td><a href="{% url 'events:event_detail' event.id %}">{{event.title}}</a></td>
            <td><a href="{% url 'events:update' event.id %}" class = "btn btn-danger">Update</a></td>
            <td><a href="{% url 'events:delete' event.id %}" class = "btn btn-danger">Clear</a> </td>

          </tr>
          {% endfor %}

        </tbody>
      </table>
{% else %}

<div class = "alert alert-danger">
    You have no events yet...

</div>

{% endif %}
</div>
<p></p>
<div class="jumbotron">
        <h4><b>Your Projects</b></h4>
{% if projects %}
<table class="table">
        <thead>
          <tr>
            <th scope="col">id</th>
            <th scope="col">Title</th>
            <th scope="col">Update</th>
            <th scope="col">Clear</th>
          </tr>
        </thead>
        <tbody>
          {% for project in projects %}
          <tr>
            <th scope="row">{{project.id}}</th>
            <td><a href="{% url 'projects:project_detail' project.id %}">{{project.title}}</a></td>
            <td><a href="{% url 'projects:update' project.id %}" class = "btn btn-danger">Update</a></td>
            <td><a href="{% url 'projects:delete' project.id %}" class = "btn btn-danger">Clear</a> </td>

          </tr>
          {% endfor %}

        </tbody>
      </table>
{% else %}

<div class = "alert alert-danger">
    You have no Projects yet...

</div>

{% endif %}
</div>
<p></p>
<div class="jumbotron">
{% if products %}
        <h4><b>Your Products</b></h4>
<table class="table">
        <thead>
          <tr>
            <th scope="col">id</th>
            <th scope="col">Title</th>
            <th scope="col">Update</th>
            <th scope="col">Clear</th>
          </tr>
        </thead>
        <tbody>
          {% for product in products %}
          <tr>
            <th scope="row">{{product.id}}</th>
            <td><a href="{% url 'products:product_detail' product.id %}">{{product.title}}</a></td>
            <td><a href="{% url 'products:update' product.id %}" class = "btn btn-danger">Update</a></td>
            <td><a href="{% url 'products:delete' product.id %}" class = "btn btn-danger">Clear</a> </td>

          </tr>
          {% endfor %}

        </tbody>
      </table>
{% else %}

<div class = "alert alert-danger">
    You have no Products yet...

</div>

{% endif %}
</div>

{% endblock body %}

