<!DOCTYPE html>
{% load static %}
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
<!-- CSS only -->
<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/css/bootstrap.min.css" integrity="sha384-9aIt2nRpC12Uk9gS9baDl411NQApFmC26EwAOH8WgZl5MYYxFfc+NcPb1dKGj7Sk" crossorigin="anonymous">

    <link href="{% static '/assets/css/style.css' %}" rel="stylesheet">
    <link rel="stylesheet" media="screen" href="http://fonts.googleapis.com/css?family=Open+Sans:300,400,700">
	<link rel="stylesheet" href="{% static '/assets/css/font-awesome.min.css' %}">
	<!-- Custom styles for our template -->


    <meta content="width=device-width, initial-scale=1.0" name="viewport">
    <meta content="Rural Technology Action Group" name="RuTAG">
    <title>RuTAG</title>
</head>
<body>  
        {% include "includes/navbar.html" %}


        <div style = "margin-top : 100px; margin-bottom:100px;" class = "container">
                
            {% if messages %}
                
                    {% for message in messages %}
                    {% if message.tags == "info" %}
                    <div class="alert alert-danger">{{ message }}</div>
                    {% else %}
                    <div class="alert alert-{{ message.tags }}">{{ message }}</div>

                    {% endif %}


                    {% endfor %}
                
                {% endif %}

            {% block body %}

            {% endblock body %}

</div>

<footer class="top-space" id="footer">

    <div class="footer1">
        <div class="container-fluid">
            <div class="row">
                <div class="col-md-5 panel">
                    <h3 class="panel-title">About RuTAG</h3>
                    <div class="panel-body">
                        <p>Lorem ipsum dolor amet, consectetur adipiscing elit. Aenean leo lectus sollicitudin convallis
                            eget libero. Aliquam laoreet tellus ut libero semper, egestas velit malesuada. Sed non risus
                            eget dolor amet vestibulum ullamcorper. Integer feugiat molestie.</p>
                    </div>
                </div>

                <div class="col-md-4 panel contact">
                    <h4 class="panel-title">Developer Info</h4>
                    <div class="panel-body">
                        <p>The website is designed and developed by Rutvik Solanki | rutvikrj26@gmail.com </p>
                        <ul>
                            <li><i class="fa fa-phone"></i>+91 8140218806</li>
                            <li><a href="#"><i class="fa fa-envelope-o"></i> rutvikrj26@gmail.com</a></li>
                            <li><i class="fa fa-flag"></i>9/b ishwarkrupa Bungalows, Maninagar, Ahmedabad</li>
                        </ul>
                    </div>
                </div>

                <div class="col-md-3 panel">
                    <h3 class="panel-title">Follow RuTAG</h3>
                    <div class="panel-body">
                        <p class="follow-me-icons">
                            <a href="https://facebook.com/rutagiitd"><i class="fa fa-facebook fa-2"></i></a>
                         </p>
                    </div>
                </div>

            </div> <!-- /row of panels -->
        </div>
    </div>

    <div class="footer2">
        <div class="container-fluid">
            <div class="row">
                <div class="col-md-6 panel">
                    <div class="panel-body">
                        <p class="text-left">
                            All the contents belong to RuTAG & All rights Reserved by RuTAG IIT Delhi
                        </p>
                    </div>
                </div>

            </div> <!-- /row of panels -->
        </div>
    </div>

</footer>


      <script src="{% static 'js/jquery-3.2.1.min.js' %}"></script>
<script src="https://code.jquery.com/jquery-3.5.1.slim.min.js" integrity="sha384-DfXdz2htPH0lsSSs5nCTpuj/zy4C+OGpamoFVy38MVBnE+IbbVYUew+OrCXaRkfj" crossorigin="anonymous"></script>
<script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js" integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo" crossorigin="anonymous"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/js/bootstrap.min.js" integrity="sha384-OgVRvuATP1z7JjHLkuOU7Xw704+h835Lr+6QL9UvYjZE3Ipu6Tp75j7Bh/kR0JKI" crossorigin="anonymous"></script>



    </body>
</html>
