{% extends "layout.html" %}
{% load static %}

{% block body %}

<div class ="row">

        <div class="col-md-12 offset-md-3">
            <div class="col-lg-8">
                <h3>Team</h3>
                <hr>
                </div>
        </div>
</div>

{% if Members %}

<div class="container-fluid">

{% for member in members %}
<div class="column">
    <div class="col-md-24 offset-md-3">

<div class="card" style="width: 18rem;">
  <img src="{{member.image}}" class="card-img-top" alt="{{member.name}}">
  <div class="card-body">
    <h5 class="card-title">{{member.name}}</h5>
    <p class="card-text">{{member.detail}}.</p>
    <a href="mailto:{{member.email}}" class="btn btn-primary">{{member.email}}</a>
  </div>
</div>

        </div>
      </div>
      </div>

{% endfor %}

{% else %}
<div class ="row">

    <div class="col-md-10 offset-md-3">
        <div class="col-lg-8">
<div class = "alert alert-danger">
   No Members Found
</div>
</div>
</div>
</div>
{% endif %}

{% endblock body %}
