{% extends "layout.html" %}
{% load static %}

{% block body %}

<div class ="row">

        <div class="col-md-12 offset-md-3">
            <div class="col-lg-8">
                <h3>Team</h3>
                <hr>
                </div>
        </div>
</div>

{% if members %}

<div class="container-fluid">

{% for members in member %}
<div class="column">
    <div class="col-md-24 offset-md-3">

<div class="card" style="width: 18rem;">
<a href="{% url 'members:members' member.id %}"><img class="card-img-top" src="{{member.image.url}}" alt=""></a>
  <div class="card-body">
    <h5 class="card-title">{{members.name}}</h5>
    <p class="card-text">{{members.detail}}.</p>
    <a href="mailto:{{members.email}}" class="btn btn-primary">{{members.email}}</a>
  </div>
</div>

        </div>
      </div>
      </div>

{% endfor %}

{% else %}
<div class ="row">

    <div class="col-md-10 offset-md-3">
        <div class="col-lg-8">
<div class = "alert alert-danger">
   No Members Found
</div>
</div>
</div>
</div>
{% endif %}

{% endblock body %}
