{% extends "layout.html" %}
{% load static %}

{% block body %}

<div class ="row">

        <div class="col-md-12 offset-md-3">
            <div class="col-lg-8">
                <h3>Team</h3>
                <hr>
                </div>
        </div>
</div>


{% if members %}
<div class="row row-cols-1 row-cols-md-3">
{% for member in members %}
<div class="col mb-4">
<div class="card">
<img class="card-img-top" src="{{member.image.url}}" alt="">
  <div class="card-body">
    <h5 class="card-title">{{member.name}}</h5>
    <p class="card-text">{{member.detail}}.</p>
<div class="card-footer">
      <small class="text-muted"><a href="mailto:{{member.email}}" class="btn btn-primary"><h7 align="center">{{member.email}}</h7></a></small>
    </div>
  </div>
</div>
</div>

    {% endfor %}
</div>
{% else %}
<div class ="row">

    <div class="col-md-10 offset-md-3">
        <div class="col-lg-8">
<div class = "alert alert-danger">
   No Members Found
</div>
</div>
</div>
</div>

{% endif %}

{% endblock body %}
