{% extends "layout.html" %}
{% load static %}
{% block body %}

<div class ="row">

        <div class="col-md-12 offset-md-3">
            <div class="col-lg-8">
                <h3>Collaborators</h3>
                <hr>
                </div>
        </div>
</div>


{% if organizations %}

{% for organization in organizations %}
<div class="card">
  <div class="card-header">
    {{organization.name}}
  </div>
  <div class="card-body">
    <h5 class="card-title">Person of Contact for the organization : {{organization.contact}}</h5>
contact: <a href="mailto:{{organization.email}}" class="btn btn-primary">{{organization.contact}}</a>
  </div>
</div>
    {% endfor %}

{% else %}
<div class ="row">

    <div class="col-md-10 offset-md-3">
        <div class="col-lg-8">
<div class = "alert alert-danger">
   No Collaborators Found
</div>
</div>
</div>
</div>

{% endif %}
{% endblock body %}
