{% extends "layout.html" %}
{% load static %}

{% block body %}

<div class ="row">

        <div class="col-md-12 offset-md-3">
            <div class="col-lg-8">
                <h3>Products</h3>
                <hr>
                </div>
        </div>
</div>
<div class ="row">
    <div class="col-md-10 offset-md-3">
        <div class="col-lg-14">
            <form>
                 {% csrf_token %}
                <input type="text" name = "keyword" class="input-sm" maxlength="64" placeholder="Search...">
              <button type="submit" class="btn btn-danger">Search</button>
            </form>
      </div>
    </div>

</div>


{% if products %}
<div class="jumbotron">
<div class="row row-cols-2 row-cols-md-4">
        <div class="col-lg-12">
{% for product in products %}

<div class="col mb-4">
<div class="card">
    <img src="{{product.Product_image.url}}" class="card-img-top" alt="...">
    <div class="card-body">
          <h3 class="card-title" align="center"><a href="{% url 'products:product_detail' product.id %}">{{product.title}}</a></h3>
      <p class="card-text" align="justify">{{product.short}}</p>
      <p class="card-footer" ><small class="text-muted">Organization: {{product.organization}}</small>
            <a style ="float : right;" href="{% url 'products:product_detail' product.id %}" class ="btn btn-danger">Read more...</a></p>
    </div>
  </div>
</div>


        </div>
      </div>

      </div>
{% endfor %}

{% else %}
<div class ="row">

    <div class="col-md-10 offset-md-3">
        <div class="col-lg-12">
<div class = "alert alert-danger">
   No Products Found
</div>
</div>
</div>
</div>

{% endif %}

{% endblock body %}


