{% extends "layout.html" %}
{% load static %}

{% block body %}




<div class ="row">
    
        <div class="col-md-10 offset-md-3">
            <div class="col-lg-8">
                <h3>Events</h3>
                <hr>
                </div>
        </div>
</div>
<div class ="row">
    <div class="col-md-10 offset-md-3">
        <div class="col-lg-14">
            <form>
                 {% csrf_token %} 
                <input type="text" name = "keyword" class="input-sm" maxlength="64" placeholder="Search...">
              <button type="submit" class="btn btn-danger">Search</button>
            </form>
      </div>
    </div>

</div>


{% if events %}

{% for event in events %}
<div class="column">
    <div class="col-md-12 offset-md-3">

    <!-- Post Content Column -->
    <div class="col-lg-8">

      <!-- Title -->
      <a href="{% url 'event:detail' event.id %}"><h2 class="mt-4">{{event.title}}</h2></a> 
        
      <!-- Author -->
      <p class="lead">
        
         Organized By {{event.organizer.username}}
      </p>
        
        <!-- Location -->
      <p class="lead">
        
         Location: {{event.location}}
      </p>
        
      <hr>

      <!-- Date/Time -->
      <p>{{event.event_date}}</p>
      <!-- Type -->
      <p>{{event.event_type}}</p>
      <hr>
      <!-- Preview Image -->
      {% if event.event_image %}
      <a href="{% url 'event:detail' event.id %}"><img class="img-fluid rounded" src="{{event.event_poster.url}}" alt=""></a>
      {% endif %}
     

      <hr>

      <!-- Post Content -->
      <p class="lead">
          {{event.content|safe|truncatewords:50}}
      </p>

      <a style ="float : right;" href="{% url 'event:detail' event.id %}" class ="btn btn-danger">Read more...</a>
      <hr>
         
        </div>
      </div>
      </div>

{% endfor %}

{% for event in Events %}
<div class="column">
    <div class="col-md-12 offset-md-3">

    <!-- Post Content Column -->
    <div class="col-lg-8">

      <!-- Title -->
      <a href="{% url 'event:detail' event.id %}"><h2 class="mt-4">{{event.title}}</h2></a>

      <!-- Post Content -->
      <p class="lead">
          {{event.content|safe|truncatewords:50}}
      </p>

      <a style ="float : right;" href="{% url 'event:detail' event.id %}" class ="btn btn-danger">Read more...</a>
      <hr>

        </div>
      </div>
      </div>

{% endfor %}


{% else %}
<div class ="row">
    
    <div class="col-md-10 offset-md-3">
        <div class="col-lg-8">
<div class = "alert alert-danger">
   No Events Found
</div>
</div>
</div>
</div>
{% endif %}

{% endblock body %}



