{% extends "layout.html" %}
{% load static %}

{% block body %}




<div class ="row">
    
        <div class="col-md-10 offset-md-3">
            <div class="col-lg-8">
                <h3>Projects</h3>
                <hr>
                </div>
        </div>
</div>
<div class ="row">
    <div class="col-md-10 offset-md-3">
        <div class="col-lg-14">
            <form>
                 {% csrf_token %} 
                <input type="text" name = "keyword" class="input-sm" maxlength="64" placeholder="Search...">
              <button type="submit" class="btn btn-danger">Search</button>
            </form>
      </div>
    </div>

</div>


{% if projects %}


{% for project in projects %}
<div class="column">
    <div class="col-md-12 offset-md-3">

    <!-- Post Content Column -->
    <div class="col-lg-8">

      <!-- Title -->
      <a href="{% url 'project:detail' event.id %}"><h2 class="mt-4">{{project.title}}</h2></a>
        
      <!-- Author -->
      <p class="lead">
        
         Project Lead By {{project.professor}}
      </p>

      <p class="lead">

         Project Engineers : {{project.engineer}}
      </p>
        
        <!-- Location -->
      <p class="lead">
        
         Student: {{project.student}}
      </p>
        
      <hr>

      <!-- Date/Time -->
      <p>{{project.Project_date}}</p>
      <p>{{project.status}}</p>
      <hr>
      <!-- Preview Image -->
      {% if project.Project_poster %}
      <a href="{% url 'project:detail' project.id %}"><img class="img-fluid rounded" src="{{project.Project_poster.url}}" alt=""></a>
      {% endif %}
     

      <hr>

      <!-- Post Content -->
      <p class="lead">
          {{project.content|safe|truncatewords:50}}
      </p>

      <a style ="float : right;" href="{% url 'project:detail' project.id %}" class ="btn btn-danger">Read more...</a>
      <hr>
         
        </div>
      </div>
      </div>

{% endfor %}


{% for project in projects %}
<div class="column">
    <div class="col-md-12 offset-md-3">

    <!-- Post Content Column -->
    <div class="col-lg-8">

      <!-- Title -->
      <a href="{% url 'project:detail' project.id %}"><h2 class="mt-4">{{project.title}}</h2></a>

      <!-- Post Content -->
      <p class="lead">
          {{project.content|safe|truncatewords:50}}
      </p>

      <a style ="float : right;" href="{% url 'project:detail' project.id %}" class ="btn btn-danger">Read more...</a>
      <hr>

        </div>
      </div>
      </div>

{% endfor %}


{% else %}
<div class ="row">
    
    <div class="col-md-10 offset-md-3">
        <div class="col-lg-8">
<div class = "alert alert-danger">
   No Projects Found
</div>
</div>
</div>
</div>
{% endif %}

{% endblock body %}



